/* =====================================================
   POWER MENU — Kitasan Glass
   ===================================================== */

configuration {
    show-icons: false;
}

* {
    font: "DepartureMono Nerd Font 12";

    bg:         #1e1e1ecc;
    bg-soft:    #1a1a1acc;
    bg-glass:   #1a1a1a99;
    bg-hover:   #404040cc;

    fg:         #e9edf0;
    fg-muted:   #909090;
    fg-dim:     #6f6f6f;

    border:      #b0bec566;
    border-soft: #b0bec533;

    accent:      #f7f7f7;
    accent-muted:#b8c5cc;

    danger:      #ff4f5e;
    danger-bg:   #ff4f5e22;

    overlay:     #0a0a0aaa;

    background-color: transparent;
    text-color: @fg;
}

/* Main window */
window {
    width: 440px;

    location: center;
    anchor:   center;

    border-radius: 24px;

    background-color: @bg;

    border: 1px;
    border-color: @border;

    padding: 0px;
}

/* Layout */
mainbox {
    spacing: 18px;
    padding: 26px;

    background-color: transparent;

    children: [ "inputbar", "listview" ];
}


/* Top bar */
inputbar {
    padding: 13px 18px;
    spacing: 10px;

    border-radius: 16px;

    background-color: @bg-glass;

    border: 1px;
    border-color: @border-soft;

    children: [ "prompt", "entry" ];
}

prompt {
    text-color: @accent-muted;
    font: "DepartureMono Nerd Font 13";
}

entry {
    placeholder: "Confirma con Enter...";
    placeholder-color: @fg-dim;

    text-color: @fg;
    background-color: transparent;
}

/* List */
listview {
    lines: 5;
    columns: 1;

    spacing: 10px;

    cycle: true;
    fixed-height: true;
    scrollbar: false;

    background-color: transparent;
}

/* Items */
element {
    padding: 14px 18px;
    spacing: 12px;

    border-radius: 16px;

    background-color: transparent;
    text-color: @fg-muted;

    border: 1px;
    border-color: transparent;

    cursor: pointer;
}

element selected {
    background-color: @bg-hover;
    text-color: @accent;

    border: 1px;
    border-color: @border;
}

element-text {
    background-color: transparent;
    text-color: inherit;

    vertical-align: 0.5;
}

/* Message fallback */
message {
    background-color: transparent;
}

textbox {
    padding: 12px;

    border-radius: 14px;

    background-color: @bg-glass;
    text-color: @fg;

    border: 1px;
    border-color: @border-soft;
}