[Unit]
Description=Timer diario para healthcheck-notify.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
